<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @bank } %>

<%= form_for [:admin, @bank] do |f| %>
  <div class="row">
    <div class="col-md-8">

      <%= f.field_container :name, class: ['form-group'] do %>
        <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', class: 'required')) %>
        <%= f.text_field :name, :class => 'form-control name' %>
        <%= f.error_message_on :name %>
      <% end %>

      <%= f.field_container :account_no, class: ['form-group'] do %>
        <%= f.label :account_no, raw(Spree.t(:account_no) + content_tag(:span, ' *', class: 'required')) %>
        <%= f.text_field :account_no, :class => 'form-control account_no' %>
        <%= f.error_message_on :account_no %>
      <% end %>


      <%= f.field_container :additional_details, class: ['form-group'] do %>
        <%= f.label :additional_details, Spree.t(:additional_details) %>
        <%= f.text_area :additional_details, :rows => 10, :class => 'form-control additional_details' %>
        <%= f.error_message_on :additional_details %>
      <% end %>

      <%= f.field_container :active, class: ['form-group'] do %>
        <%= f.label :active, Spree.t(:active) %>
        <%= f.error_message_on :active %>
        <%= f.check_box :active, class: 'form-control' %>
      <% end %>

      <%= render :partial => 'spree/admin/shared/new_resource_links' %>
    </div>
  </div>


<% end %>